<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wj.spc.demo_1203.dao.aMapper.AMapper">

    <select id="selectAllUser" resultType="com.wj.spc.demo_1203.domain.User">
        select id,user_name,phone_number,password,email,status from st_user
    </select>

</mapper>